<div class="contenedor">
  <div class="burgeer-queen">
    <!-- <h2>burgeer-queen</h2> -->
    <div class="img-project">
      <img src="../../../assets/p1.jpg" alt="burgeer" />
      <a href="https://burger-queens.herokuapp.com/home">
      <div class="text-hover">
        <h2>Data Lovers</h2>
        <p>Sitio web para fans de Rick and Morty, creado con Javascript, manipulando datos a través un archivo JSON.</p>
       
      </div>
      </a>
    </div>
   
    <div class="btn">
      
    </div>
  </div>
  <div class="data-lover">
    <!-- <h2>DataLover</h2> -->
    <div class="img-project">
      <img src="../../../assets/p2.jpg" alt="rickandmorty" />
      <a href="https://burger-queens.herokuapp.com/home">
        <div class="text-hover">
          <h2>Burger Queen</h2>
          <p>Sistema web de comnadas para restaurantes de comida rapida, creado con Angular 8 y Heroku.</p>
         
        </div>
        </a>
    </div>
 
     
  </div>
  <div class="battle-zombie">
    <!-- <h2>BattleZombie</h2> -->
    <div class="img-project">
      <img src="../../../assets/p3.jpg" alt="battle-zombie" />
      <a href="https://burger-queens.herokuapp.com/home">
        <div class="text-hover">
          <h2>Battle Zombie</h2>
          <p>Juego basado en el clasico BattleShip adaptado <br> a una version moderna, cambiando tematica y funcionalidad. desarrollado con Angular 8, <br> MongoDb y Heroku</p>
         
        </div>
        </a>
    </div>

  
  </div>
</div>
