<div class="container">
  <div class="derechos">
    <p>Copyrights © 2019 Todos los derechos reservados NataGalvez.cl</p>
  </div>

  <div class="social-networks">
    <a
      href="https://www.linkedin.com/in/nataliagalvez/"
      target="_blank"
      class="icono"
      ><i class="fab fa-linkedin-in"></i>
    </a>
    <a href="https://github.com/NataGalvez/" target="_blank" class="icono"
      ><i class="fab fa-github"></i>
    </a>
    <a href="https://www.facebook.com/natigalvezc" target="_blank" class="icono"
      ><i class="fas fa-globe"></i>
    </a>
  </div>
  <div class="mail-num">
    <a href="mailito:nataliac.galvezc@gmail.com" class="mail">
      <i class="far fa-envelope"></i>
      nataliac.galvezc@gmail.com
    </a>
    <span class="span">. </span>
    <a href="45174783" class="phone">
      <i class="fas fa-mobile-alt"></i>
      +569-45174783
    </a>
  </div>
</div>
