.contenedor {
  display: flex;
  text-align: center;
  padding-top: 20px;
}
.html {
  flex: 1 1 auto;
  font-size: 100px;
  color: #de4b25;
  padding-left: 15px;
}
.css {
  flex: 1 1 auto;
  font-size: 100px;
  color: #15aabf;
}
.sass {
  flex: 1 1 auto;
  font-size: 100px;
  color: #f783ac;
}
.js {
  flex: 1 1 auto;
  font-size: 100px;
  color: #e9ca32;
}
.node {
  flex: 1 1 auto;
  font-size: 100px;
  color: #69b946;
}
.angular {
  font-size: 100px;
  padding-left: 15px;
  color: #d6002f;
  flex: 1 1 auto;
}
.gitHub {
  font-size: 100px;
  color: #a046aa;
  flex: 1 1 auto;
}
.git {
  font-size: 100px;
  color: #e94f33;
  flex: 1 1 auto;
}
.firebase {
  flex: 1 1 auto;
}
.firebase img {
  padding-top: 34px;

  width: 150px;
}
.xd {
  flex: 1 1 auto;
}
.xd img {
  padding-top: 24px;
  width: 100px;
}
.zeplin {
  flex: 1 1 auto;
}
.zeplin img {
  padding-top: 24px;
  width: 100px;
  padding-right: 35px;
}
