<div class="contenedor">
  <div class="html">
    <i class="fab fa-html5 html"> </i>
  </div>
  <div class="css">
    <i class="fab fa-css3-alt css"></i>
  </div>
  <div class="sass">
    <i class="fab fa-sass sass"></i>
  </div>
  <div class="js">
    <i class="fab fa-js-square js"></i>
  </div>
  <div class="node">
    <i class="fab fa-node"></i>
  </div>
</div>
<div class="contenedor">
  <div class="angular">
    <i class="fab fa-angular angular"></i>
  </div>

  <div class="gitHub">
    <i class="fab fa-github gitHub"></i>
  </div>
  <div class="git">
    <i class="fab fa-git git"></i>
  </div>
  <div class="firebase">
    <img src="../../../assets/firebase.png" alt="firebase" />
  </div>

  <div class="zeplin">
    <img src="../../../assets/zeplin.png" alt="zeplin xd" />
  </div>
</div>
