<div class="contenedor border">
  <div class="foto-perfil border">
    <img src="../../../assets/1.jpg" alt="Natalia Img" />
  </div>

  <div class="description border">
    <p>
      <b>Hola!</b>, soy <b>&#123;</b>Natalia<b>&#125;</b>
      <i> Desarrolladora Front-end</i>
      >. Mi pasión por el código me ha llevado a diseñar aplicaciones
      innovadoras, eficientes y pensadas en el usuario. Pese a desarrollarme
      como Angular, la mayoría de mis proyectos están codificados a mano en
      HTML, Javascript vanilla y CSS.
    </p>
    <p>
      Me destaco por ser resiliente, con alta disposición al <i>aprendizaje</i>,
      siempre dispuesta en contribuir a través de mi conocimiento y motivación
    </p>
    <p>
      Conoce los proyectos en los que he colaborado haciendo click
      <a routerLink="/Proyectos">Aquí</a>
    </p>
  </div>
</div>
