.contenedor {
  display: flex;
  align-items: flex-start;
  margin: 0;
}
.foto-perfil {
  /* padding-left: 10px; */
  width: 44.8%;
  flex: 1 1 auto;
}

.description {
  width: 100%;
  text-align: justify;
  flex: 1 1 auto;
  padding: 50px;
  padding-top: 10px;
}
p {
  font-size: 25px;
}
h1 {
  font-size: 30px;
}
img {
  width: 100%;
}
@media (max-width: 1366px) {
  .foto-perfil {
    width: 43%;
  }
}

@media (max-width: 600px) {
  .contenedor{
    display: block;
  }
  .foto-perfil {
    width: 100%;
  }
  .description {
    
    width: 80%;
    text-align: justify;
    flex: none;
    padding: 40px;
    padding-top: 10px;
    margin-bottom: 200px;
  }
  p{
    font-size: 16px;  
  }
}
