<div class="contenedor"><h1>Habilidades Técnicas</h1></div>
<div class="contenedor tm">
  <div class="html skill">
    <i class="fab fa-html5 "> </i>
  </div>
  <div class="css skill">
    <i class="fab fa-css3-alt "></i>
  </div>
  <div class="sass skill">
    <i class="fab fa-sass "></i>
  </div>
  <div class="js skill">
    <i class="fab fa-js-square "></i>
  </div>
  <div class="node skill">
    <i class="fab fa-node"></i>
  </div>
</div>
<div class="contenedor">
  <div class="angular skill">
    <i class="fab fa-angular "></i>
  </div>

  <div class="gitHub skill">
    <i class="fab fa-github "></i>
  </div>
  <div class="git skill">
    <i class="fab fa-git "></i>
  </div>
  <div class="firebase skill">
    <img src="../../../assets/firebase.png" alt="firebase" />
  </div>

  <div class="zeplin skill lastsk">
    <img src="../../../assets/zeplin.png" alt="zeplin xd" />
  </div>
</div>
